@import "../base/variables";
@import '../base/mixins';
@import '../base/media-queries';

// Esto es para el ícono de los botones
button {
  i { padding-right: 1rem; }
}

.cta {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  width: 14rem;
  height: auto;
  &__circle {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: $c-primary;
    border-radius: 1.625rem;
  }
  &__icon {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: $c-white;
  }
  &__arrow {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    left: 0.625rem;
    width: 1.125rem;
    height: 2px;
    background: none;
    &::before {
      position: absolute;
      content: '';
      top: -0.3rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
    }
  }
  &__text {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: $c-white;
    @include raleway-700(1rem);
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }

  &:hover {
    .cta__circle {
      width: 100%;
    }
    .cta__arrow {
      background: $c-black;
      transform: translate(1rem, 0);
    }
    .cta__text {
      color: $c-black;
    }
  }
}

.btn {
  @include raleway-700(1rem);
  padding: 8px 16px;
  border-radius: 3px;
  
  &--primary {
    background-color: $c-primary;
    color: $c-black;
    border: solid 1px $c-primary;

    &:hover {
      background-color: lighten($c-primary, 40%);
      border: solid 1px lighten($c-primary, 40%);
      cursor: pointer;
      transition: all 0.4s ease 0s;
    }
  }

  &--primary-black {
    background-color: $c-black;
    color: $c-white;
    border: solid 1px $c-black;

    &:hover {
      background-color: $c-primary;
      border-color: $c-primary;
      transition: all 0.4s ease 0s;
      cursor: pointer;
      color: $c-black;
      box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.3);
      -webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 1px 4px 2px 0px rgba(0,0,0,0.3);   }
  }
}