@import '../base/media-queries';
@import '../base/mixins';
@import '../base/variables';

.section__header {
  @include flex-col-nowrap;
  text-align: center;
  margin: 2rem 0;
  .section__collection { @include raleway-400(1rem) }
  .section__title { @include poppins-400(1.42rem) }
  .section__bar {
    margin-top: 5px;
    height: 1px;
    width: 55px;
    background-color: #000;
    align-self: center;
  }
}