// Colores
$c-primary: #EBFF00;
$c-accent: #F700FC;
$c-black: #000;
$c-black-84: #272727;
$c-gray: #A0A0A0;
$c-white: #fff;

// Fuentes
$font-logo: 'Neoneon', sans-serif;

// Margins left & right
$m-sm: 16px;
$m-lg: 64px;